.ticket {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 30px;
  width: 85vw;
  border-radius: 0px;
background: #ffffff;
box-shadow:  -15px 15px 30px #d4d4d4,
             15px -15px 30px #ffffff;
  img {
    width: 30vw;
    height: 100%;
    padding-right: 10px;   
  }
}

.ticket_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.ticket__price {
  font-family: Open Sans;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2196F3;
}

.ticket__segment {
  display: flex;
  flex-direction: column;
  padding: 5px;
}


.ticket__segment-header,
.ticket__segment-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.ticket__segment-header p,
.ticket__segment-content p {
  flex: 1;
  text-align: center;
  margin: 0;
  font-weight: 600;
}

.ticket__segment-header p {
  font-family: Open Sans;
font-size: 11px;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #A0B0B9;
}

.ticket__segment-content p {
font-family: Open Sans;
font-size: 11px;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #4A4A4A;
}

@media screen and (min-width: 768px) {
  .ticket {
      width: 55vw;
      margin-left: 15vh;
      img {
        width: auto;
    height: 100%;
      }
}
.ticket__segment-header p,
.ticket__segment-content p {
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
}
}

@media screen and (min-width: 1024px) {
  .ticket {
      width: 45vw;
}
.ticket__segment-header p,
.ticket__segment-content p {
  font-size: 17px;
}
}

@media screen and (min-width: 1440px) {
  .ticket {
      width: 30vw;
}
}


@media screen and (min-width: 2560px) {
  .ticket {
      width: 20vw;
}
}