@import './components/header/header';
@import './components/main/main';
@import './components/main/transfers/transfers';
@import './components/main/searchBar/searchBar';
@import './components/main/searchBar/searchResults/ticket/ticket';
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color:  #F3F7FA;
  ;
}