@import './components/Header/header.scss';
@import './components/Main/main.scss';
@import './components/Main/Transfers/transfers.scss';
@import './components/Main/SearchBar/search-bar.scss';
@import './components/Main/SearchBar/SearchResults/Ticket/ticket.scss';

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color:  #F3F7FA;
  ;
}